body {
    font-family:'Bungee', cursive;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    display: inline;
    float: right;
    font-size: 20px;
}
ul li{
    display: inline;
}
a:link{
    text-decoration: none;
    color: #7944e6;
}
a:hover{
    color: #10fdff;
}
.flex{
    border-style: solid;
    border-color: #7944e6;
    margin:auto;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h2{
    font-size: 20px;
    padding-bottom: 0px;
}
p{
    font-size: 10px;
    
}
h3{
    font-size: 13px;
    text-align:center;
}
h4{
    font-size: 13px;
    text-align:center;
}
h5{
    font-size: 13px;
    text-align:center;
}
.menu {
    font-size: 15px;
    text-align:center;
}
.flexboxone{
    background-color: #ff00ff;
    width:95%; margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width:95%; margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px){
    body{
        font-size: 130%;
    }
    .flexboxone{
        display: flex;
        flex-direction: row;
    }
    .container{
        display: flex;
        flex-direction: row;
    }
    .flex {
        margin-left: 60px;
        margin-right: 60px
    }
}